.sidebar__icon{
  display: block;
  margin-bottom: 455px;
  padding: 25px 0 40px 0;
  background-color: #3E3E40;
}


.sidebar__hamburg-btn{
  display: block;
  margin: 0 auto;
  font-size: 25px;
  color: #fff;
  background-color: transparent;
  border: none;
}

.sidebar__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar__item{
  transform: rotate(270deg);

}

.sidebar__item:nth-child(2){
  margin: 55px 0;
}

.sidebar__link{
  text-align: center;
  text-decoration: none;
  color: #E7E7E7;
  transition: color 0.4s ease;

  &:hover{
    color: #EDC56F;
  }
}